name: CI
on:
  push:
    branches: [ main ]
  pull_request:

env:
  GOTOOLCHAIN: local

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with: { go-version: '1.23' }

      - uses: golangci/golangci-lint-action@v9
        with: { version: v2.1.6 }
  gitfs:
    name: gitfs
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        go-version: [ '1.23', '1.24' ]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}

      - run: go test -race -coverprofile=coverage.txt -covermode=atomic
        shell: bash
      - name: Upload coverage
        env:
          CI: "true"
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        run: bash <(curl -s https://codecov.io/bash)
        if: matrix.os == 'windows-latest'
        shell: bash
